<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%- if user_signed_in? %>
  <p>Hello, <%= current_user.email %> - <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>
<% end %>
<a class="waves-effect waves-light btn">button</a>

<%- unless current_user.company? %>
  <%- if current_user.name.nil? %>
    <%= render 'userinfos/new' %>
  <% else %>
    <%= render 'companies/new' %>
  <% end %>
<% end %>

Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>


Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
vLao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
v
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>

Lao
<br>
Loa
<br>

Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>
Lao
<br>
Loa
<br>