<div id='new_company_form'>
  <%= simple_form_for(Company.new, remote: true)  do |f| %>
    <div class="company_input">
      <div class="input-field company_input_name">
        <i class="material-icons prefix">work</i>
        <%= f.text_field :name, class: "validate" %>
        <label for="icon_prefix">Nom votre entreprise</label>
      </div>
      <%= f.button :submit, "Créer", class: 'btn_submit_compay' %>
    </div>
  <% end %>
</div>