<div class="col s6">
  <div class="card blue-grey ">
    <div class="card-content white-text">
      <span class="card-title"><%= invit.company.name %> jsnkjsh ksjsh kjssh ksj h</span>
    </div>
    <div class="card-action">
      <a href="companies/<%= invit.company.id %>/acc_invit" data-method="patch" data-remote="true"  class="waves-effect waves-light btn" data-confirm="Attention : vous ne pouvez intégrer qu'une seul entreprise. Acceptez-vous l'invitation de <%= invit.company.name%> ?">ACCEPTER</a>
    </div>
  </div>
</div>
