<!-- Modal Structure -->
<div class="modal" id="modal_company_invitations">
  <div class="modal-header">
    <h4>Inviter des collaborateurs</h4>
  </div>
  <div class="modal-content">
    invitations
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close btn">Commencer</a>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>